<html xmls:th="http://www.thymeleaf.org">
  <th:block th:fragment="fragment-nav">
    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fas fa-blog"></i>
        <a href="">AXCE Coding</a>
      </div>

      <ul class="navbar__menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Weddings</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Bookings</a></li>
      </ul>
    </nav>
  </th:block>
</html>
